project/app/data/projects.json
project/app/logs/projects.log
project/app/logs/settings.log
project/app/ui/tabs/__pycache__/settings_tab.cpython-313.pyc
project/app/ui/tabs/__pycache__/projects_tab.cpython-313.pyc
project/app/ui/__pycache__/__init__.cpython-313.pyc
project/app/utils/file_utils.py
project/app/utils/__pycache__/logger.cpython-313.pyc
project/app/utils/__pycache__/__init__.cpython-313.pyc
project/app/utils/file_utils.py
project/app/utils/file_utils.py
project/app/core/__pycache__/__init__.cpython-313.pyc
project/app/core/__pycache__/app.cpython-313.pyc
.idea/DeepTag.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
